img{
    width: 150px;
    border-radius: 50%;
}

hr{
    border-style: dotted none none;
    border-color: cadetblue;
    border-width: 8px;
    width: 6%;
}

h1{
    color: #63bfbf;
}

h2{
    color: #63bfbf;
}

h3{
    color: #63bfbf;
}

